@mixin container() {
  width: 960px;
  margin: 0 auto;
  padding: 0 110px;

  @media (max-width: 1200px) {
    width: 640px;
    padding: 0 54px;

  }

  @media (max-width: 768px) {
    width: 320px;
    padding: 0;
  }
}
