body {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;

  border: 1px solid blue;
}

.about-me__photo {
  margin-right: 50px;
}






.intern-ship {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;

  border: 1px solid green;
}

.intern-ship__question {
  text-align: center;
}


.useful {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;

  border: 1px solid red;
}

.useful__question {
  text-align: center;
}


.experience {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;

  border: 1px solid purple;
}

.experience__heading {
  text-align: center;
}

.slick-slide img {
  margin: 0 auto;
}
