body {
  font-size: 16px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-bottom: 50px;

  text-align: center;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.about-me__photo {
  margin-right: 50px;
}

.intern-ship {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.intern-ship__question {
  text-align: center;
}


.useful {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.useful__question {
  text-align: center;
}


.experience {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.experience__heading {
  text-align: center;
}

.experience__picture {
  display: block;
  margin: 0 auto 40px;
}

.experience__sliders {
  margin-bottom: 50px;
}

.experience__title {
  text-align: center;
}

.experience__list-main {
  margin: 20px 0 10px;
}

.experience__list-meta {
  margin-bottom: 40px;
}

.slick-dotted.slick-slider {
  margin-bottom: 100px;
}

.slick-slide img {
  margin: 0 auto 20px;
}

@media (max-width: 1200px) {
  .about-me,
  .intern-ship,
  .useful,
  .experience {
    width: auto;
    padding: 0 20px;
  }
}
