.about-game {
  margin-bottom: 100px;
}

.about-game__inner {
  width: 1200px;
  margin: 0 auto;

  background: $gray-lightest;
  border-radius: 10px;
  box-shadow: 0 7px 32px -10px;
}

.about-game__content {
  float: left;
  width: 526px;
  padding-right: 10px;
  padding-left: 25px;
}

.about-game__title {
  margin: 27px 0 10px 0;

  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
}

.about-game__description {
  margin: 0 0 20px;

  font-size: 16px;
  line-height: 23px;
}

.about-game__video {
  float: right;
  margin-top: 80px;
  padding-right: 25px;

  vertical-align: middle;
}

.about-game__azino {
  width: 545px;
  height: auto;
}

.about-game__caption {
  display: inline-block;
  margin: 20px 0;
  padding-bottom: 5px;

  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;

  border-bottom: 2px solid $green;
}

.about-game__form {
  float: right;
  width: 460px;
  margin-right: 30px;
}

@media (max-width: 1280px) {
  .about-game__inner {
    width: auto;
    margin: 0 30px;
  }
}

@media (max-width: 1230px) {
  .about-game__content {
    float: none;
    width: auto;
    margin-bottom: 50px;
  }

  .about-game__video {
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }

  .about-game__azino {
    display: block;
    margin: 0 auto 50px;
  }

  .about-game__form {
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 1060px) {
  .section-heading--white {
    color: $blue;
  }
}

@media (max-width: 680px) {
  .about-game__azino {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 540px) {
  .about-game__form {
    width: auto;
    padding: 0;
  }

  .about-game__inner {
    margin: 0 10px;
  }
}
