.benefits {
  margin-bottom: 100px;
  padding: 0 30px;
}

.benefits__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits__content {
  width: 27%;
  margin-bottom: 50px;

  text-align: center;
}

.benefits__image {
  margin-bottom: 24px;
}

.benefits__title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    width: 42%;
    height: 2px;
    margin: 20px auto;

    background-color: $green;
  }
}

.benefits__description {
  margin: 0;
}

@media (max-width: 900px) {
  .benefits__content {
    justify-content: center;
    width: 39%;
  }
}

@media (max-width: 540px) {
  .benefits__content {
    justify-content: center;
    width: 100%;
  }
}
