.benefits {
  margin-bottom: 100px;
  padding: 0 30px;
}

.benefits__content {
  float: left;
  width: 25%;
  margin: 0 131px 80px 0;

  text-align: center;
}

.benefits__content:nth-child(3n) {
  margin-right: 0;
}

.benefits__image {
  margin-bottom: 24px;
}

.benefits__title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    width: 42%;
    height: 2px;
    margin: 20px auto;

    background-color: $green;
  }
}

.benefits__description {
  margin: 0;
}
