.btn {
  padding: 14px 44px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid $green;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border: 2px solid darken($green, 10%);
  }

  &--header {
    display: inline-block;
    margin-left: 20px;

    color: $white;
  }

  &--form {
    display: block;
    margin: 0 auto;
  }

  &--map {
    display: inline-block;
    margin: 0 auto;

    background-color: $green;
  }

  &--benefits {
    display: block;
    width: 10%;
    margin: 0 auto;

    background-color: $green;
  }

  &--order {
    display: block;
    width: 20%;
    margin: 0 auto 20px;
  }

  &--white-order {
    display: block;
    width: 20%;
    margin: 0 auto 44px;

    background-color: $white;
  }

  &--blue-form {
    padding: 20px 44px;

    color: $white;
  }
}
