.contacts {
  width: 1200px;
  margin: 140px auto 50px;
  padding: 0 30px;
}

.contacts__content {
  float: left;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts__title {
  margin: 30px 0 50px;

  font-size: 26px;
  line-height: 26px;
  color: $blue-dark;
  text-transform: uppercase;
}

.contact__inner {
  margin-left: 40px;
}

.contacts__address {
  position: relative;

  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -40px;

    display: inline-block;
    width: 21px;
    height: 28px;

    background: url(../img/icon-map.png) no-repeat center;
  }
}

.contacts__phone {
  display: block;
  margin-bottom: 10px;

  color: $black;
  text-decoration: none;

  &:nth-child(4) {
    margin-bottom: 30px;
  }
}

.contacts__mail {
  display: block;
  margin-bottom: 50px;

  color: $black;
  text-decoration: none;
}

.contacts__vk {
  position: relative;

  display: block;
  margin-bottom: 20px;

  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;

    display: inline-block;
    width: 25px;
    height: 25px;

    background: url(../img/icon-vk.png) no-repeat center;
  }
}

.contacts__viber {
  position: relative;

  display: block;

  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -43px;

    display: inline-block;
    width: 29px;
    height: 31px;

    background: url(../img/icon-viber-big.png) no-repeat center;
  }
}

.contacts__form {
  float: right;
  width: 460px;
}

@media (max-width: 1260px) {
  .contacts {
    width: auto;
  }
}

@media (max-width: 992px) {
  .contacts__content {
    float: none;
    width: 380px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .contacts__title {
    text-align: center;
  }

  .contact__inner {
    margin-left: 0;
  }

  .contacts__form {
    float: none;
    margin: 0 auto;
  }

  .contacts__mail {
    margin-bottom: 30px;
  }
}


@media (max-width: 540px) {
  .contacts {
    padding: 0 10px;
  }

  .contacts__address,
  .contacts__phone,
  .contacts__mail,
  .contacts__vk,
  .contacts__viber {
    margin-left: 40px;
    &::before {
      left: -40px;
    }
  }

  .contacts__content {
    width: 90%;
  }

  .contacts__form {
    width: auto;
    padding: 0;
  }
}
