.footer {
  background: url(../img/bg-order.jpg) no-repeat top center;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.footer__column {
  display: block;
  width: 360px;
}

.footer__developer {
  position: relative;

  display: block;
  margin-left: 40px;

  color: $white;
  text-decoration: none;

  &::before {
    content: "X";
    position: absolute;
    top: -8px;
    left: -40px;

    display: inline-block;

    font-weight: normal;
    font-size: 43px;
    color: $pink;
  }
}

.footer__container {
  position: relative;

  text-align: center;
  color: $white;
}

.footer__social {
  margin-bottom: 10px;
}

.footer__license {
  margin: 0;
  margin-bottom: 10px;
}

.footer__copyright {
  margin: 0;
  margin-bottom: 10px;
}

.footer__politics {
  margin: 0;

  text-transform: uppercase;
}


@media (max-width: 1280px) {
  .footer__inner {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .footer__inner {
    display: block;
  }
  .footer__column {
    margin: 0 auto 20px;
  }
}

@media (max-width: 540px) {
  .footer__inner {
    padding: 20px 10px;
  }

  .footer__column {
    display: block;
    width: auto;
  }
}
