.form {
  position: relative;

  box-sizing: border-box;
  padding: 38px 48px;

  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 19px -5px;

  &::before {
    content: "";
    position: absolute;
    top: 118px;
    left: 0;

    width: 8px;
    height: 78px;

    background-color: $green;
    transform: skewY(30deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;

    width: 56px;
    height: 70px;

    background-color: $green;
    transform: skewY(-30deg);
  }
}

.form__title {
  margin: 0;

  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  &--next-line {
    display: block;
    margin-top: 10px;
  }
}

.form__consult {
  display: block;
  margin: 0;
  margin-bottom: 36px;

  font-weight: 100;
  font-size: 16px;
  line-height: 18px;
  color: $dark-blue;
  text-transform: lowercase;

  &--first-letter {
    text-transform: none;
  }
}

.form__consent {
  position: relative;

  margin: 0;
  margin-bottom: 24px;
  padding-left: 40px;

  font-size: 14px;
  line-height: 16px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 16px;

    display: inline-block;
    width: 8px;
    height: 11px;
    margin: 0;

    background: url(../img/icon-lock.png) no-repeat center;
  }
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 38px;

  border: none;
  border-radius: 10px;

  &--name {
    background: $grey url(../img/icon-name.png) no-repeat;
    background-position: 10px center;
  }

  &--mail {
    background: $grey url(../img/icon-mail.png) no-repeat;
    background-position: 10px center;
  }

  &--city {
    background: $grey url(../img/icon-city.png) no-repeat;
    background-position: 10px center;
  }

  &--tel {
    background: $grey url(../img/icon-phone.png) no-repeat;
    background-position: 10px center;
  }
}
