.form {
  position: relative;

  box-sizing: border-box;
  padding: 38px 48px;

  background-color: $gray-lightest;
  border-radius: 5px;
  box-shadow: 0 0 19px -5px;

  &::before {
    content: "";
    position: absolute;
    top: 118px;
    left: 0;

    width: 8px;
    height: 78px;

    background-color: $green;
    transform: skewY(30deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;

    width: 56px;
    height: 70px;

    background-color: $green;
    transform: skewY(-30deg);
  }

  &--blue {
    padding: 20px;

    background: $blue-dark url(../img/bg-order.jpg) no-repeat top;

    &::before,
    &::after {
      content: "";

      width: 0;
      height: 0;
    }
  }
}

.form__transparent-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: $blue-darken;
  border-radius: 5px;
  opacity: 0.6;
}

.form__transparent-view {
  position: relative;
  z-index: 2;
}

.form__promo-text {
  margin-bottom: 14px;

  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $green;

  &--white {
    color: $white;
  }
}

.form__title {
  margin: 0;

  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  &--next-line {
    display: block;
    margin-top: 10px;
  }
}

.form__consult {
  display: block;
  margin: 0;
  margin-bottom: 36px;

  font-weight: 100;
  font-size: 16px;
  line-height: 18px;
  color: $blue-dark;
  text-transform: lowercase;

  &--first-letter,
  &--modal {
    width: 315px;

    text-transform: none;
  }
}

.form__consent {
  position: relative;

  margin: 0;
  margin-bottom: 24px;
  padding-left: 40px;

  font-size: 14px;
  line-height: 16px;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 16px;

    display: inline-block;
    width: 8px;
    height: 11px;
    margin: 0;

    background: url(../img/icon-lock.png) no-repeat center;
  }

  &--white {
    margin-bottom: 0;

    color: $white;

    &::before {
      top: 2px;
    }
  }
}

.form__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 38px;

  border: none;
  border-radius: 10px;

  &--blue-form {
    width: 295px;
    margin-bottom: 0;
  }

  &--name {
    background: $gray url(../img/icon-name.png) no-repeat;
    background-position: 10px center;
  }

  &--mail {
    background: $gray url(../img/icon-mail.png) no-repeat;
    background-position: 10px center;
  }

  &--city {
    background: $gray url(../img/icon-city.png) no-repeat;
    background-position: 10px center;
  }

  &--tel {
    background: $gray url(../img/icon-phone.png) no-repeat;
    background-position: 10px center;
  }
}

@media (max-width: 1260px) {
  .form__input, {
    &--name {
      margin: 0 auto 20px;
    }
    &--tel {
      margin: 0 auto 20px;
    }
    &--city {
      margin: 0 auto 20px;
    }
  }
}

@media (max-width: 540px) {
  .form {
    padding: 20px;

    &::before,
    &::after {
      display: none;
    }
  }

  .form__title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .form__consult {
    &--first-letter,
    &--modal {
      width: auto;
    }
  }

  .form__promo-text {
    font-size: 16px;
    line-height: 20px;
  }
}
