.header-info {
  width: 1200px;
  margin: 20px auto;
  padding: 0 30px;
}

.header-info__contacts {
  float: right;
}

.header-info__inner {
  display: inline-block;

  vertical-align: top;

  &--left60 {
    margin-left: 60px;
  }
}

.header-info__phone {
  position: relative;

  font-size: 18px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  &--tablet {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;

    width: 18px;
    height: 19px;

    background: url(../img/icon-viber.png) no-repeat center;
  }
}

.header-info__mail {
  display: block;
  padding-top: 6px;
  padding-left: 35px;

  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
}


@media (max-width: 1280px) {
  .header-info {
    width: auto;
  }
}

@media (max-width: 1060px) {
  .header-info__inner--tablet {
    display: none;
  }

  .header-info__phone--tablet {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 825px) {
  .header-info {
    padding: 0 10px;
  }
  .header-info__contacts {
    display: block;
    float: none;
    width: 282px;
    margin: 0 auto;
  }

  .header-info__mail {
    margin-bottom: 20px;
  }
}

/*
@media (max-width: 786px) {
  .header-info__inner {
    display: block;
    margin-bottom: 20px;

    &--left60 {
      margin-left: 0;
    }
  }
  .btn {
    &--header {
      margin-left: 0;
    }
  }
}
*/
