.header-info {
  margin-bottom: 18px;
  padding-top: 20px;
}

.header-info__contacts {
  float: right;
}

.header-info__inner {
  display: inline-block;

  vertical-align: top;

  &--left60 {
    margin-left: 60px;
  }
}

.header-info__phone {
  position: relative;

  font-size: 22px;
  line-height: 24px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -30px;

    width: 18px;
    height: 19px;

    background: url(../img/icon-viber.png) no-repeat center;
  }
}

.header-info__mail {
  display: block;
  padding-top: 6px;
  padding-left: 56px;

  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
}
