.map {
  margin: 0 30px 90px;
}

.map__inner {
  text-align: center;
}

.map__img {
  margin-bottom: 50px;
}


@media (max-width: 1100px) {
  .map {
    margin: 10px;
  }
  .map__img {
    width: 90%;
  }
}
