.order {
  position: relative;
  z-index: 1;

  margin-top: -55px;
  padding-top: 140px;

  background: url(../img/bg-order.jpg) no-repeat center;
  background-size: cover;
}

.order__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.order__variant {
  position: relative;

  width: 365px;

  background-color: $gray-lightest;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;

    width: 14px;
    height: 48px;

    background-color: $green;
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;

    width: 56px;
    height: 70px;

    background-color: $green;
    transform: skewY(-30deg);
  }
}

.order__variant--green {
  color: $white;

  background-color: $green;

  &::before {
    top: 41px;

    background-color: $white;
  }

  &::after {
    top: 53px;

    background-color: $white;
  }
}

.order__title {
  margin: 30px 0 50px 40px;

  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;

  &--three {
    margin: 10px 0 12px 40px;
  }
}

.order__price {
  margin: 0 0 30px 20px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.order__value {
  font-weight: bold;
  font-size: 26px;
  color: $pink;

  &--lowercase {
    padding-left: 5px;

    text-transform: lowercase;
  }

  &--white {
    color: $white;
  }
}

.order__link {
  display: block;
  margin: 0 0 20px 40px;

  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: $violet-dark;
  text-transform: none;

  &:hover {
    color: $violet;
  }
}

.order__form {
  position: relative;
  top: 105px;

  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;

  border-top: 3px solid $green;
}
