.promo {
  width: 1200px;
  margin: 0 auto 64px;
  padding: 0 30px;
}

.promo__form {
  float: right;
  width: 460px;
}

.promo__heading {
  float: left;
  width: 580px;
  margin-top: 50px;
}

.promo__title {
  margin: 0 0 20px;

  font-weight: 100;
  font-size: 46px;
  line-height: 55px;
  color: $white;
  text-transform: uppercase;
}

.promo__description {
  margin: 0;

  font-size: 28px;
  line-height: 34px;
  color: $white;
}

@media (max-width: 1280px) {
  .promo {
    width: auto;
  }
}

@media (max-width: 1150px) {
  .promo__heading {
    float: left;
    width: 440px;
    margin-top: 50px;
  }
  .promo__title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 1060px) {
  .promo {
    margin-bottom: 130px;
  }
}

@media (max-width: 992px) {
  .promo {
    margin-bottom: 50px;
  }

  .promo__heading {
    float: none;
    margin: 0 auto;
    margin-bottom: 50px;

    text-align: center;
  }

  .promo__form {
    float: none;
    margin: 0 auto;
  }

  .promo__description {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .promo {
    padding: 0 10px;
  }

  .promo__form {
    width: auto;
    padding: 0;
  }

  .promo__heading {
    width: auto;
    padding: 0 10px;
  }

  .promo__title {
    font-size: 20px;
    line-height: 24px;
  }
}
