.review {
  margin: 0 30px;
}

.review__item {
  margin: 0 12px;
}

.review__number {
  position: relative;

  margin-left: 30px;

  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  color: $light-grey;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -30px;

    width: 22px;
    height: 32px;

    background-color: $green;
  }
}

.review__description {
  margin: 20px 0 50px 0;

  font-size: 14px;
  line-height: 25px;
  color: $light-black;
}

.review__author {
  position: relative;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
  color: $light-black;

  &::after {
    content: "";
    position: absolute;
    bottom: -25px;

    width: 100%;
    height: 5px;

    background-color: $green;
  }
}

.review__name {
  position: absolute;
  top: 0;
  left: 84px;

  color: $light-black;
}

.review__social {
  position: absolute;
  top: 44px;
  left: 84px;
}

.review__link {
  font-size: 0;
}

.review__icon {
  position: absolute;
  top: -4px;
  left: 116px;
}




















