.review {
  margin: 0 30px;
}

.review__item {
  margin: 0 12px;
}

.review__number {
  padding-left: 8px;

  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  color: $gray-light;

  border-left: 22px solid $green;
}

.review__content {
  margin: 20px 0 50px 0;

  font-size: 14px;
  line-height: 25px;
}

.review__author {
  padding-bottom: 2px;

  font-size: 14px;
  line-height: 16px;

  border-bottom: 5px solid $green;
}

.review__img {
  float: left;
}

.review__desc {
  float: right;
  width: 175px;
}

.review__name {
  margin: 3px 0 10px;
}

.review__title {
  float: left;
  margin-top: 5px;
  margin-right: 36px;
}

.review__link {
  float: left;

  font-size: 0;
}
