.section-heading {
  margin: 0;

  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    width: 20%;
    height: 2px;
    margin: 6px auto 20px;

    background-color: $green;
  }

  &--white {
    color: $white;
  }
}

.section-heading__subtitle {
  margin: 0 0 50px;

  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.section-heading--icon {
  position: relative;

  display: block;
  width: 600px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -10px;

    width: 32px;
    height: 32px;

    background: url(../img/icon-support.png) no-repeat center;
  }

  &::after {
    width: 47%;
  }
}

.section-heading--order {
  color: $white;

  &::after {
    width: 8%;
    margin-bottom: 92px;
  }
}

.section-heading--review,
.section-heading--payment {
  &::after {
    width: 15%;
    margin-bottom: 40px;
  }
}

.section-heading--benefits {
  &::after {
    width: 28%;
  }
}

.section-heading--map {
  &::after {
    width: 28%;
    margin-bottom: 40px;
  }
}

.section-heading--partner {
  &::after {
    width: 36%;
    margin-bottom: 40px;
  }
}

.section-heading--photo {
  &::after {
    width: 52%;
  }
}

@media (max-width: 860px) {
  .section-heading--icon {
    width: 90%;
    &::before {
      display: none;
    }
  }
}


/*
@media (max-width: 720px) {
  .section-heading--icon {
    width: auto;
    padding-left: 30px;
  }
}
/*
@media (max-width: 1080px) {
  .section-heading--icon {
    &::before {
      left: 130px;
    }
  }
}

@media (max-width: 980px) {
  .section-heading--icon {
    &::before {
      display: none;
    }
  }
}
*/
@media (max-width: 1210px) {
  .section-heading--order {
    &::after {
      width: 8%;
      margin-bottom: 20px;
    }
  }
}


@media (max-width: 530px) {
  .section-heading {
    padding: 0 12px;
  }
}
