.shadow-sections {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 33px 0;

  background: $white;
  border-radius: 10px;
  box-shadow: 0 0 19px -5px;
}
