.shadow-sections {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 33px 0;

  background: $white;
  border-radius: 10px;
  box-shadow: 0 0 19px -5px;
}

@media (max-width: 1260px) {
  .shadow-sections {
    width: auto;
    margin: 0 30px;
  }
}

@media (max-width: 530px) {
  .shadow-sections {
    margin: 0 10px;
  }
}
