.heading-h2 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    width: 20%;
    height: 2px;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 20px;

    background-color: $green;
  }

  &--white {
    color: $white;
  }
}
