/* Cкрытие элементов с сохранением доступности*/
.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;

  border: 0 !important;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

img {
  max-width: 100%;
  height: auto;
}

/* Clearfix */
.clearfix::after {
  content: "";

  display: block;
  clear: both;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

/* Центровщики для основных блоков */
main,
.container,
.social {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* Header */
.header-index {
  margin: 0;
  padding: 0;

  color: #000000;

  background-color: #eeeeee;
}

.header-index ul {
  margin: 0;
  padding: 0;
}

.logo-index,
.logo-pages {
  padding-top: 49px;
}

.logo-image {
  padding-top: 5px;
}

.logo-pages:hover {
  opacity: 0.8;
}

.logo-pages:active {
  opacity: 0.3;
}

.header-index nav a {
  margin-right: 30px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.header-index nav a.logo-index,
.header-index nav a.logo-pages {
  margin-right: 200px;
}

.header-index .site-navigation li,
.header-index .user-navigation li {
  display: inline-block;
  margin: 0;
  padding: 80px 0 0;

  list-style: none;
  vertical-align: top;
}

.header-index .site-navigation a:hover,
.header-index .user-navigation a:hover {
  color: #00ca74;
}

.header-index .site-navigation a:active,
.header-index .user-navigation a:active {
  color: #000000;

  opacity: 0.3;
}

.header-index .site-navigation li,
.header-index .logo-index,
.header-index .logo-pages {
  float: left;
}

.header-index .user-navigation li {
  float: right;
}

.header-index .user-navigation .basket {
  position: relative;
}

.header-index .user-navigation .basket::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -37px;

  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 20px;

  vertical-align: top;

  background: transparent url(../img/icon/icon-basket.png) no-repeat;
  opacity: 0.3;
}

.site-navigation-active {
  padding-bottom: 8px;

  border-bottom: 2px solid #00ca74;
}



/* Style for catalog */
.header-index h1 {
  margin: 65px 0 52px;
  padding-bottom: 109px;

  font-size: 55px;
  line-height: 55px;
  text-align: center;
}



/* Section filter */
.filter {
  float: left;
  width: 260px;
}

.filter fieldset {
  padding: 0;

  border: none;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  border: none;
}

.filter .range-filter {
  margin-bottom: 54px;
}

.filter .range-control {
  position: relative;

  box-sizing: border-box;
  width: 260px;
  height: 80px;
  margin-bottom: 25px;
  padding: 0 20px;
  overflow: hidden;

  background-color: #eeeeee;
  border-radius: 5px;
}

.filter .range-control .scale {
  width: 220px;
  height: 2px;
  margin-top: 39px;

  background-color: #d7dcde;
}

.filter .range-control .bar {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.filter .toggle {
  position: absolute;
  top: 50%;

  width: 4px;
  height: 4px;
  margin-top: -10px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px #cccdcd;
  cursor: pointer;
}

.filter .min-toggle {
  left: 20px;
}

.filter .max-toggle {
  left: 220px;
}

.filter .price-control input[type="number"] {
  width: 80px;
  height: 38px;
  margin: 0 24px 0 10px;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  color: #283136;

  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
}

.filter .price-control input[type="number"]:last-child {
  margin-right: 0;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter ul li {
  margin-bottom: 18px;
}

.filter .price {
  margin-bottom: 52px;
}

.filter .grid,
.filter .details {
  margin-bottom: 18px;
}

.filter .details {
  padding-top: 22px;
}


.filter input[type="radio"],
.filter input[type="checkbox"] {
  display: none;
}

.filter input[type="radio"] + label::before {
  content: "";

  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 20px -2px 0;

  vertical-align: top;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #4d4d4d;
  cursor: pointer;
  opacity: 0.4;
}

.filter input[type="checkbox"] + label::before {
  content: "";

  display: inline-block;
  width: 27px;
  height: 23px;
  margin: 0 20px -6px 0;

  vertical-align: top;

  background: url(../img/icon/checkbox-off.png) no-repeat;
  opacity: 0.4;
}

.filter input[type="radio"]:checked + label::before {
  display: inline-block;
  width: 9px;
  height: 9px;

  vertical-align: top;

  background-color: #4d4d4d;
  border: 5px solid #ffffff;
  opacity: 1;
}

.filter input[type="checkbox"]:checked + label::before {
  background: url(../img/icon/checkbox-on.png) no-repeat;
  opacity: 1;
}

.filter input + label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;

  cursor: pointer;
}

.filter input:checked + label {
  color: #000000;
}



/* Section template */
.template {
  float: right;
  width: 760px;
}

.template-sort {
  width: 100%;
  margin: 0 0 35px;
}


.template-sort .sort-title {
  display: inline-block;
  margin-right: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.template-sort .select-templates {
  display: inline-block;
  padding: 10px;

  border: 2px solid #000000;
}



/* Template items  */
.template-items {
  width: 760px;
}

.template-item {
  position: relative;

  float: left;
  width: 360px;
  margin-bottom: 30px;
}

.template-item:nth-child(odd) {
  margin-right: 40px;
}

.template-item .template-desc {
  display: block;

  cursor: pointer;
}

.template-item:hover .browser {
  background-color: #4d4d4d;
  cursor: pointer;
}

.template-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
  cursor: pointer;
}

.template .browser {
  position: relative;

  width: 360px;
  height: 40px;

  background-color: #e9e9e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.template .browser .browser-circle {
  position: absolute;
  top: 13px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
}

.template .browser .browser-circle-1 {
  left: 16px;
}

.template .browser .browser-circle-2 {
  left: 39px;
}

.template .browser .browser-circle-3 {
  left: 62px;
}

.template-desc {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  box-sizing: border-box;
  width: 360px;
  height: 233px;
  padding: 26px 60px 40px;

  background-color: #eeeeee;
}

.template-title {
  margin: 0 0 10px;

  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.template-desc p {
  margin: 0 0 30px;

  text-align: center;
}

.template-desc a.template-price {
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin: 0 auto;

  text-align: center;
}

.template-item img {
  width: 360px;
  height: 576px;
}



/* Section our products */
.product {
  margin-top: 80px;

  border-bottom: 2px solid #eeeeee;
}

.product-item {
  float: left;
  width: 300px;
  margin: 0 100px 80px 0;
}

.product-item h3 {
  margin: 20px 0 18px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-item p {
  margin: 0 0 32px;
}



/* Buttons */
.button {
  display: inline-block;
  padding: 12px 40px;

  vertical-align: top;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #00ca74;
  border-radius: 3px;
}

.button:hover {
  background-color: #009958;
}

.button:active {
  color: #5ebf8d;

  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}



/* Filters form button */
.filter .form-button {
  width: 260px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;

  background-color: #eeeeee;
  border: none;
  cursor: pointer;
}

.filter .form-button:hover {
  background-color: #dfdfdf;
}

.filter .form-button:active {
  color: #a9a9a9;

  background-color: #d5d5d5;
  outline-color: #eeeeee;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}



/* Pagination */
.pagination {
  float: right;
  width: 760px;
}

.pagination ul {
  margin: 22px 0 60px;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 6px;

  list-style: none;
  vertical-align: top;
}

.pagination a {
  display: block;
  padding: 16px 22px;

  font-size: 16px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination a:hover:not(.pagination-select) {
  background-color: #dfdfdf;
}

.pagination a:active:not(.pagination-select) {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  opacity: 0.3;
}

.pagination a.pagination-select {
  padding: 14px 20px;

  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.pagination a.pagination-next {
  padding: 16px 78px;
}



/* Section about us */
.about-us {
  border-bottom: 2px solid #eeeeee;
}

.about-us .description {
  float: left;
  width: 700px;
}

.about-us .description .description-product li:before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;
  margin: 0 10px 4px 0;

  vertical-align: middle;

  background-color: #00ca74;
}

.about-us .description h2 {
  margin: 72px 0 38px;

  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us .description p {
  margin: 0 0 40px;
}

.about-us .description h3 {
  margin: 0 0 25px;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us .description ul {
  margin: 0;
  padding: 0;
}

.about-us .description li {
  margin: 0 0 25px;
  padding: 0;

  list-style: none;
}

.about-us .description li:last-child {
  margin-bottom: 72px;
}

.about-us .numbers {
  float: right;
}

.about-us .numbers img {
  display: block;
  margin: 40px auto 30px;
}

.about-us .numbers h3 {
  margin: 0 0 38px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us .numbers ul {
  width: 360px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us .numbers .percent li {
  position: relative;

  display: inline-block;
  margin: 0 40px 19px 0;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  vertical-align: top;
  color: #000000;
}

.about-us .numbers .percent .sup {
  position: absolute;
  top: -6px;

  font-size: 30px;
  vertical-align: super;
}

.about-us .numbers .title li {
  display: inline-block;
  width: 100px;
  margin-right: 15px;

  vertical-align: top;
}



/* Section our works */
.our-works {
  position: relative;

  margin-bottom: 80px;
  padding: 30px 0;

  text-align: center;

  border-bottom: 2px solid #eeeeee;
}

.our-works .works-column {
  display: inline-block;
  margin-right: 80px;

  vertical-align: middle;

  opacity: 0.7;
}

.our-works .works-column:last-child {
  margin-right: 0;
}

.our-works .works-column:hover {
  opacity: 1;
}

.our-works .works-column:active {
  opacity: 0.2;
}



/* Footer*/
.map {
  position: relative;

  width: 100%;
  height: 416px;
}

#map {
  width: 100%;
  height: 416px;

  background: #ffffff url(../img/map.jpg) no-repeat;
  background-position: center;
  background-size: auto;
}

/* Footer form*/
.map .call-us {
  position: absolute;
  top: 50%;

  box-sizing: border-box;
  width: 319px;
  height: 308px;
  margin-top: -154px;
  padding: 58px 50px 48px 50px;

  color: #000000;

  background-color: #ffffff;
}

.map .call-us b {
  display: block;
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.map .call-us p {
  margin: 0 0 20px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.map .call-us a {
  margin-top: 12px;
}



/* Social elements */
.social {
  margin-bottom: 70px;
}

.social .social-elements {
  float: left;
  width: 360px;
  margin-top: 69px;
}

.social .social-discount {
  float: right;
  width: 780px;
  margin-top: 77px;
}

.social a {
  display: inline-block;
  width: 78px;
  height: 78px;
  margin-right: 16px;

  font-size: 0;
  vertical-align: top;

  border-radius: 50%;
}

.social a.vk {
  background: #e1e1e1 url(../img/icon/vk-icon.png) no-repeat;
  background-position: center;
}

.social a.fb {
  background: #e1e1e1 url(../img/icon/fb-icon.png) no-repeat;
  background-position: center;
}

.social a.inst {
  background: #e1e1e1 url(../img/icon/insta-icon.png) no-repeat;
  background-position: center;
}

.social a:hover {
  background-color: #00ca74;
}

.social a:active {
  background-color: #009958;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-discount b {
  display: block;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-discount p {
  margin: 0;
}



/* Modal form */
.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  display: none;
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  margin: -295px 0 0 -480px;
  padding: 66px 100px 84px 100px;

  background-color: #ffffff;
  box-shadow: 0 8px 30px 0;

  animation-name: down;
  animation-duration: 1.2s;
}

@keyframes down {
  0% {
    transform: translateY(1000px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(10px);
  }
}

.modal-form-show {
  display: block;
}

.modal-form .call-back ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal-form .call-back b {
  display: block;
  margin-bottom: 38px;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.modal-form label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.modal-form input {
  box-sizing: border-box;
  width: 360px;
  padding: 17px 0 17px 14px;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-form textarea {
  float: left;
  box-sizing: border-box;
  width: 760px;
  height: 120px;
  padding: 17px 0 17px 14px;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-form .input-name {
  float: left;
  width: 360px;
  margin-bottom: 31px;
}

.modal-form .input-mail {
  float: right;
  width: 360px;
}

.modal-form .input-comment {
  float: left;
  margin-bottom: 47px;
}

.modal-form .call-back > button {
  float: left;
  padding: 12px 80px;

  border: none;
  cursor: pointer;
}

.modal-form .close-modal-form {
  position: absolute;
  top: 71px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background: url(../img/icon/close-cross.png) no-repeat;
  border: none;
  opacity: 0.6;
}

.modal-form .close-modal-form:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal-form .close-modal-form:active {
  opacity: 1;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-form input:focus,
.modal-form textarea:focus {
  border: 2px solid #000000;
  outline-color: #000000;
}



/*  Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal-overlay-show {
  display: block;
}




/* Slider */
.slider {
  width: 1200px;
  margin: 0 auto;
}

.slides {
  margin-bottom: 20px;
}

.slide {
  padding: 50px;
}

.slide-hidden {
  display: none;
}

.slide-show {
  display: block;
}

.slide-content {
  float: left;
}

.slide h3 {
  width: 560px;
  margin: 70px 0 0;

  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
}

.slide p {
  width: 460px;
  margin: 29px 0 41px;
}

.slide-image {
  height: 400px;

  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.slide-image-1 {
  background-image: url(../img/slider-web-design.svg);
}

.slide-image-2 {
  background-image: url(../img/slider-ui-ux-design.svg);
}

.slide-image-3 {
  background-image: url(../img/slider-data-analysis.svg);
}

.slide-image-4 {
  background-image: url(../img/slider-apps-development.svg);
}

.slide-image-5 {
  background-image: url(../img/slider-teamwork.svg);
}

.slider-controls {
  padding-bottom: 20px;

  text-align: center;
}

.slider-control {
  display: inline-block;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border: 2px solid #00ca74;
  border-radius: 50%;
}

.slider-control-active {
  background-color: #00ca74;
  cursor: pointer;
}

.slider-control:hover {
  background-color: #009958;
  cursor: pointer;
}
