.clearfix::before,
.clearfix:after {
  content: "";

  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  font-weight: 100;
  font-family: "Open Sans", sans-serif;

  background: url(../img/bg-header.jpg) no-repeat top center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
