/* sass */
@import "../css/vendor/slick/slick-theme.css";
@import "../css/vendor/slick/slick.css";
@import "../css/vendor/normalize/normalize.css";

@import "common.scss";
@import "variables.scss";

@import "blocks/section-heading.scss";
@import "blocks/form.scss";
@import "blocks/btn.scss";

@import "blocks/header-info.scss";
@import "blocks/header-menu.scss";
@import "blocks/promo.scss";
@import "blocks/about-game.scss";
@import "blocks/shadow-sections.scss";
@import "blocks/benefits.scss";
@import "blocks/photo.scss";
@import "blocks/partner.scss";
@import "blocks/review.scss";
@import "blocks/map.scss";
@import "blocks/delivery.scss";
@import "blocks/payment.scss";
@import "blocks/support.scss";
@import "blocks/order.scss";
