$light-green: #00ff3e;
$green: #46c232;
$white: #ffffff;
$pink: #ff003b;
$gray: #f2f2f2;
$gray-light: #dddddd;
$gray-lightest: #f8f8f8;
$blue: rgba(#0b1425, 0.84);
$blue-dark: #19033c;
$blue-darken: #171d29;
$black: #000000;
$violet: #7500f9;
$violet-dark: #5303af;

