.project {
  width: 45%;
  margin-bottom: 30px;
  padding: 20px 20px 0;

  border: 1px solid lightgray;
}

.project__title {
  margin: 0 0 25px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.project__img {
  display: block;
  height: 300px;
  margin: 0 auto 25px;

  border: 4px solid $blue;
  border-radius: 50%;
}

.project__list {
  margin: 0 0 40px;
  padding: 0;

  list-style: none;
}

.project__item {
  position: relative;

  margin: 0;
  padding: 0 0 0 22px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;

    width: 14px;
    height: 1px;

    background-color: #000000;
  }
}
