.project {
  display: flex;
  justify-content: space-between;
}

.project__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;

  border: 1px solid lightgreen;
}

.project__description {
  width: 60%;

  border: 1px solid lightgreen;
}

.project__title {
  margin: 0 0 15px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.project__list {
  margin: 0 0 50px;
  padding: 0;

  list-style: none;
}

.project__item {
  position: relative;

  margin: 0;
  padding: 0 0 0 22px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;

    width: 14px;
    height: 1px;

    background-color: #000000;
  }
}

// .project__buttons {
//   display: flex;
//   justify-content: space-between;
// }
