.projects {
  margin-bottom: 50px;

  @include container();
}

.projects__heading {
  margin: 0 0 50px;

  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;

    width: 130px;
    height: 20px;
    margin-left: -65px;

    background-image: url(../../img/zigzag.svg);
    background-repeat: no-repeat;
    transform: rotate(-180deg);
  }
}
