.project {
  display: flex;
  justify-content: space-between;
}

.project__content {
  width: 50%;
}

.project__video {
  display: block;
  width: 380px;
  margin: 0 auto 25px;

  border: 6px solid #3333ff;
}

.project__title {
  margin: 0 0 25px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.project__list {
  margin: 0 0 25px;
  padding: 0;

  list-style: none;
}

.project__item {
  position: relative;

  margin: 0;
  padding: 0 0 0 22px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;

    width: 14px;
    height: 1px;

    background-color: #000000;
  }
}
