.skills {
  margin-bottom: 50px;

  @include container();
}

.skills__heading {
  position: relative;

  margin: 0 0 60px;

  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;

    width: 130px;
    height: 20px;
    margin-left: -65px;

    background-image: url(../../img/zigzag.svg);
    background-repeat: no-repeat;
    transform: rotate(-180deg);
  }
}

.skills__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.skills__item {
  position: relative;

  margin: 0;
  padding: 0 0 0 20px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;

    width: 6px;
    height: 6px;

    background-color: #3333ff;
    border-radius: 50%;
  }

  &--separator {
    margin-bottom: 30px;
  }
}
