.basket {
  box-sizing: border-box;
  width: 600px;
  margin: 0 auto;
  padding: 20px;

  border: 2px solid grey;
  border-bottom: none;
}

.basket__products-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0 20px;

  border-bottom: 2px solid grey;
}

.basket__products {
  box-sizing: border-box;
  width: 200px;
  padding: 5px;

  border: 2px solid grey;
}

.basket__button {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
}

.first-property {
  margin-bottom: 10px;
  padding: 10px 0;
}

.text-input {
  box-sizing: border-box;
  width: 200px;
  padding: 5px;

  border: 2px solid grey;
}

.second-property {
  padding: 10px 0;
}

.basket__info {
  box-sizing: border-box;
  width: 600px;
  margin: 0 auto;

  border: 2px solid grey;
  border-top: none;
}

.basket__status {
  border-top: 2px solid grey;
  padding: 20px;
}

.basket__product-title {
  text-align: center;
  font-weight: bold;
  display: block;
}
