$green: #46c232;
$black: #000000;
$white: #ffffff;
$pink: #ff003b;
$grey: #f2f2f2;
$dark-blue: #19033c;


body {
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}

/*CLEARFIX ДЛЯ FLOAT*/
.clearfix::after {
  content: "";

  display: block;
  clear: both;
}

header {
  height: 862px;
  margin: 0 auto;

  background: url("../img/bg-header.jpg") no-repeat center;
}

.wrapper {
  width: 1134px;
  margin: 0 auto;
  padding: 0 33px;
}


.header-info {
  position: relative;

  padding-top: 40px;
  .header-logotype {
    float: left;
    .header-logo {
      position: absolute;
      top: 18px;
      left: 0;

      margin-left: 78px;

      font-size: 36px;
      line-height: 38px;
      color: #00ff3e;
      text-transform: uppercase;
      text-decoration: none;
    }
    .header-logo-slogan {
      position: absolute;
      top: 58px;
      left: 0;

      margin: 0;
      margin-left: 80px;

      font-size: 16px;
      line-height: 18px;
      color: $white;
    }
  }
  .header-logotype::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;

    display: inline-block;
    width: 67px;
    height: 46px;

    background: url(../img/icon-logo.png) no-repeat center;;
  }
}


.header-contact {
  position: relative;

  float: right;
  .phone-link {
    position: absolute;
    top: -15px;
    left: -520px;

    font-size: 22px;
    line-height: 24px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
  }
  .phone-link:nth-child(2) {
    left: -250px;
  }
  .phone-link:before {
    content: "";

    display: inline-block;
    width: 18px;
    height: 19px;
    margin-right: 10px;

    background: url(../img/icon-viber.png) no-repeat center;
  }
  .mail-link {
    position: absolute;
    top: 18px;
    left: -165px;

    color: $white;
  }
}


.header-nav ul {
  margin: 0;
  margin-top: 34px;
  padding: 0;

  list-style: none;
  li {
    display: inline-block;
    margin-right: 89px;
    a {
      font-size: 14px;
      line-height: 16px;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:hover {
      border-bottom: 2px solid $green;
    }
  }
  li:last-child {
    margin-right: 0;
  }
}


.header-title {
  float: left;
  width: 586px;
  h1 {
    margin: 0;
    margin-top: 200px;

    font-weight: 100;
    font-size: 46px;
    line-height: 55px;
    color: $white;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    margin-top: 20px;

    font-size: 28px;
    line-height: 34px;
    color: $white;
  }
}


.header-order {
  position: relative;

  float: right;
  box-sizing: border-box;
  width: 428px;
  height: 439px;
  margin-top: 150px;
  padding: 48px 48px;

  background-color: #f8f8f8;
  border-radius: 5px;
  .rectangle-1 {
    content: "";
    position: absolute;
    top: 118px;
    left: 0;

    width: 8px;
    height: 78px;

    background-color: $green;
    transform: skewY(30deg);
  }
  .rectangle-2 {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;

    width: 56px;
    height: 70px;

    background-color: $green;
    transform: skewY(-30deg);
  }

  .header-form__title {
    margin: 0;

    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
    color: $pink;
    text-transform: uppercase;
  }
  .header-form__consult {
    margin: 0;
    margin-bottom: 36px;

    font-size: 16px;
    line-height: 18px;
    color: $dark-blue;
    text-transform: lowercase;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    padding-left: 38px;

    color: 13px;

    background-color: $grey;
    border: none;
    border-radius: 10px;
  }
  input[type="text"] {
    background: $grey url(../img/icon-name.png) no-repeat;
    background-position: 10px center;
  }
  input[type="email"] {
    margin-bottom: 30px;

    background: $grey url(../img/icon-mail.png) no-repeat;
    background-position: 10px center;
  }
  p.form-consent {
    margin: 0;
    margin-bottom: 24px;
    padding-left: 40px;

    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
  p.form-consent::before {
    content: "";
    position: absolute;
    top: 318px;
    left: 65px;

    display: inline-block;
    width: 8px;
    height: 11px;
    margin: 0;

    background: url(../img/icon-lock.png) no-repeat center;
  }
}


/* btn */

.btn {
  padding: 14px 44px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid $green;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid darken($green, 10%);
}

.btn-form {
  display: block;
  margin: 0 auto;

  color: $black;

  background-color: transparent;
}






















/* the end */
