@import "normalize.css";
@import "blocks/promo.scss";
$green: #46c232;
$light-green: #00ff3e;
$black: #000000;
$white: #ffffff;
$pink: #ff003b;
$grey: #f2f2f2;
$dark-blue: #19033c;


body {
  font-weight: 100;
  font-family: "Open Sans", sans-serif;

  background: url("../img/bg-header.jpg") no-repeat top center;
}

/* Clearfix для float */

.clearfix::before,
.clearfix:after {
  content: "";

  display: table;
}
.clearfix:after {
  clear: both;
}



header {
  margin: 0 auto;
  margin-bottom: 130px;
}


/* Внешняя обертка */

.wrapper {
  width: 1134px;
  margin: 0 auto;
  padding: 0 33px;
}

/* Button */

.btn {
  padding: 14px 44px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid $green;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    border: 2px solid darken($green, 10%);
  }
}


/* Header info */

.header-info {
  padding-top: 20px;

  &__logo {
    position: relative;

    float: left;
    width: 300px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 67px;
      height: 46px;

      background: url(../img/icon-logo.png) no-repeat center;;
    }
  }

  &__name {
    margin: 0;
    padding-left: 80px;
  }

  &__link {
    font-size: 36px;
    line-height: 38px;
    color: $light-green;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__slogan {
    margin: 0;
    padding-left: 80px;

    font-size: 16px;
    line-height: 18px;
    color: $white;
  }

  &__contacts {
    position: relative;

    float: right;
    width: 740px;
  }

  &__phone {
    position: relative;

    margin-right: 30px;
    margin-left: 70px;

    font-size: 22px;
    line-height: 24px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: -30px;

      width: 18px;
      height: 19px;

      background: url(../img/icon-viber.png) no-repeat center;
    }
    &:nth-child(2) {
      margin-right: 0;
      margin-left: 30px;
    }
  }

  &__mail {
    margin-left: 377px;

    font-size: 16px;
    line-height: 18px;
    color: $white;
    text-decoration: none;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Header menu */

.header-menu {
  &__list {
    margin: 0;
    margin-top: 18px;
    padding: 0;

    list-style: none;
    text-align: justify;
    &::after {
      content: "";

      display: inline-block;
      width: 100%;
    }
  }
  &__item {
    display: inline-block;
  }
  &__link {
    font-size: 14px;
    line-height: 16px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid $green;
    }
  }
}

/* About game */

.about-game {
  box-sizing: border-box;
  width: 100%;
  /*margin-top: -100px;*/
  margin-bottom: 100px;
  &__wrapper {
    background: #f8f8f9;
    border-radius: 10px;
    box-shadow: 0 7px 32px -10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    &::after {
      content: "";

      display: block;
      width: 20%;
      height: 2px;
      margin: 0 auto;
      margin-top: 6px;
      margin-bottom: 20px;

      background-color: $green;
    }
  }

  &__description {
    float: left;
    width: 526px;
    padding-right: 10px;
    padding-left: 25px;
    h3 {
      margin: 0;
      margin-top: 27px;
      margin-bottom: 10px;

      font-weight: bold;
      font-size: 23px;
      line-height: 30px;
      color: $pink;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      margin-bottom: 20px;

      font-size: 16px;
      line-height: 23px;
    }
  }

  &__video {
    float: right;
    width: 545px;
    margin-top: 20px;
    padding-right: 25px;
  }
}























/* the end */
