@import url(../css/vendor/slick/slick-theme.css);
@import url(../css/vendor/slick/slick.css);
@import url(../css/vendor/normalize/normalize.css);
.clearfix::before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  background: url(../img/bg-header.jpg) no-repeat top center; }

.section-heading {
  margin: 0;
  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase; }
  .section-heading::after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    margin: 6px auto 20px;
    background-color: #46c232; }
  .section-heading--white {
    color: #ffffff; }

.section-heading__subtitle {
  margin: 0 0 50px;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase; }

.section-heading--icon {
  position: relative;
  display: block;
  width: 600px;
  margin: 0 auto; }
  .section-heading--icon::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -10px;
    width: 32px;
    height: 32px;
    background: url(../img/icon-support.png) no-repeat center; }
  .section-heading--icon::after {
    width: 47%; }

.section-heading--order {
  color: #ffffff; }
  .section-heading--order::after {
    width: 8%;
    margin-bottom: 92px; }

.section-heading--review::after,
.section-heading--payment::after {
  width: 15%;
  margin-bottom: 40px; }

.section-heading--benefits::after {
  width: 28%; }

.section-heading--map::after {
  width: 28%;
  margin-bottom: 40px; }

.section-heading--partner::after {
  width: 36%;
  margin-bottom: 40px; }

.section-heading--photo::after {
  width: 52%; }

@media (max-width: 860px) {
  .section-heading--icon {
    width: 90%; }
    .section-heading--icon::before {
      display: none; } }

/*
@media (max-width: 720px) {
  .section-heading--icon {
    width: auto;
    padding-left: 30px;
  }
}
/*
@media (max-width: 1080px) {
  .section-heading--icon {
    &::before {
      left: 130px;
    }
  }
}

@media (max-width: 980px) {
  .section-heading--icon {
    &::before {
      display: none;
    }
  }
}
*/
@media (max-width: 1210px) {
  .section-heading--order::after {
    width: 8%;
    margin-bottom: 20px; } }

@media (max-width: 530px) {
  .section-heading {
    padding: 0 12px; } }

.form {
  position: relative;
  box-sizing: border-box;
  padding: 38px 48px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 19px -5px; }
  .form::before {
    content: "";
    position: absolute;
    top: 118px;
    left: 0;
    width: 8px;
    height: 78px;
    background-color: #46c232;
    transform: skewY(30deg); }
  .form::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 56px;
    height: 70px;
    background-color: #46c232;
    transform: skewY(-30deg); }
  .form--blue {
    padding: 20px;
    background: #19033c url(../img/bg-order.jpg) no-repeat top; }
    .form--blue::before, .form--blue::after {
      content: "";
      width: 0;
      height: 0; }

.form__transparent-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #171d29;
  border-radius: 5px;
  opacity: 0.6; }

.form__transparent-view {
  position: relative;
  z-index: 2; }

.form__promo-text {
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #46c232; }
  .form__promo-text--white {
    color: #ffffff; }

.form__title {
  margin: 0;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: #ff003b;
  text-transform: uppercase; }
  .form__title--next-line {
    display: block;
    margin-top: 10px; }

.form__consult {
  display: block;
  margin: 0;
  margin-bottom: 36px;
  font-weight: 100;
  font-size: 16px;
  line-height: 18px;
  color: #19033c;
  text-transform: lowercase; }
  .form__consult--first-letter, .form__consult--modal {
    width: 315px;
    text-transform: none; }

.form__consent {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  text-align: left; }
  .form__consent::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 16px;
    display: inline-block;
    width: 8px;
    height: 11px;
    margin: 0;
    background: url(../img/icon-lock.png) no-repeat center; }
  .form__consent--white {
    margin-bottom: 0;
    color: #ffffff; }
    .form__consent--white::before {
      top: 2px; }

.form__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px; }

.form__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 38px;
  border: none;
  border-radius: 10px; }
  .form__input--blue-form {
    width: 295px;
    margin-bottom: 0; }
  .form__input--name {
    background: #f2f2f2 url(../img/icon-name.png) no-repeat;
    background-position: 10px center; }
  .form__input--mail {
    background: #f2f2f2 url(../img/icon-mail.png) no-repeat;
    background-position: 10px center; }
  .form__input--city {
    background: #f2f2f2 url(../img/icon-city.png) no-repeat;
    background-position: 10px center; }
  .form__input--tel {
    background: #f2f2f2 url(../img/icon-phone.png) no-repeat;
    background-position: 10px center; }

@media (max-width: 1260px) {
  .form__input--name {
    margin: 0 auto 20px; }
  .form__input--tel {
    margin: 0 auto 20px; }
  .form__input--city {
    margin: 0 auto 20px; } }

@media (max-width: 540px) {
  .form {
    padding: 20px; }
    .form::before, .form::after {
      display: none; }
  .form__title {
    font-size: 18px;
    line-height: 24px;
    text-align: center; }
  .form__consult--first-letter, .form__consult--modal {
    width: auto; }
  .form__promo-text {
    font-size: 16px;
    line-height: 20px; } }

.btn {
  padding: 14px 44px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #46c232;
  border-radius: 5px;
  cursor: pointer; }
  .btn:hover {
    border: 2px solid #379928; }
  .btn--header {
    display: inline-block;
    margin-left: 20px;
    color: #ffffff; }
  .btn--form {
    display: block;
    margin: 0 auto; }
  .btn--map {
    display: block;
    width: 160px;
    margin: 0 auto;
    background-color: #46c232; }
  .btn--benefits {
    display: block;
    width: 130px;
    margin: 0 auto;
    background-color: #46c232; }
  .btn--order {
    display: block;
    width: 20%;
    margin: 0 auto 20px; }
  .btn--white-order {
    display: block;
    width: 20%;
    margin: 0 auto 44px;
    background-color: #ffffff; }
  .btn--blue-form {
    padding: 20px 44px;
    color: #ffffff; }

@media (max-width: 1260px) {
  .btn--blue-form {
    display: block;
    margin: 0 auto;
    padding: 14px 76px; } }

@media (max-width: 825px) {
  .btn--header {
    margin: 0;
    padding: 14px 76px; } }

.logo {
  position: relative;
  float: left;
  padding-left: 80px; }
  .logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 67px;
    height: 46px;
    background: url(../img/icon-logo.png) no-repeat center; }

.logo__name {
  margin: 0; }

.logo__link {
  font-size: 36px;
  line-height: 38px;
  color: #00ff3e;
  text-transform: uppercase;
  text-decoration: none; }

.logo__slogan {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff; }

@media (max-width: 1200px) {
  .logo--footer {
    float: none;
    margin: 0; } }

@media (max-width: 825px) {
  .logo--header {
    display: block;
    float: none;
    width: 200px;
    margin: 0 auto 20px; } }

.header-info {
  width: 1200px;
  margin: 20px auto;
  padding: 0 30px; }

.header-info__contacts {
  float: right; }

.header-info__inner {
  display: inline-block;
  vertical-align: top; }
  .header-info__inner--left60 {
    margin-left: 60px; }

.header-info__phone {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }
  .header-info__phone--tablet {
    display: none; }
  .header-info__phone::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;
    width: 18px;
    height: 19px;
    background: url(../img/icon-viber.png) no-repeat center; }

.header-info__mail {
  display: block;
  padding-top: 6px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; }

@media (max-width: 1280px) {
  .header-info {
    width: auto; } }

@media (max-width: 1060px) {
  .header-info__inner--tablet {
    display: none; }
  .header-info__phone--tablet {
    display: block;
    margin-top: 10px; } }

@media (max-width: 825px) {
  .header-info {
    padding: 0 10px; }
  .header-info__contacts {
    display: block;
    float: none;
    width: 282px;
    margin: 0 auto; }
  .header-info__mail {
    margin-bottom: 20px; } }

/*
@media (max-width: 786px) {
  .header-info__inner {
    display: block;
    margin-bottom: 20px;

    &--left60 {
      margin-left: 0;
    }
  }
  .btn {
    &--header {
      margin-left: 0;
    }
  }
}
*/
.header-menu {
  width: 1200px;
  margin: 0 auto 130px;
  padding: 0 30px; }

.header-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.header-menu__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }
  .header-menu__link:hover {
    border-bottom: 2px solid #46c232; }

.header-menu__hamburger {
  display: none;
  width: auto;
  height: 50px;
  margin-bottom: 30px;
  color: #19033c;
  background-color: #ffffff; }

.header-menu__heading {
  margin: 0;
  padding-top: 16px;
  text-align: center; }

@media (max-width: 1280px) {
  .header-menu {
    width: auto; } }

@media (max-width: 992px) {
  .header-menu {
    margin-bottom: 40px;
    border-radius: 10px; }
  .header-menu__item {
    width: 90%;
    margin: 0 auto;
    padding: 7px 0;
    text-align: center;
    background-color: #ffffff; }
    .header-menu__item:first-child {
      padding: 20px 0 5px; }
    .header-menu__item:last-child {
      padding: 5px 0 20px; }
  .header-menu__link {
    font-size: 14px;
    line-height: 16px;
    color: rgba(11, 20, 37, 0.84);
    text-transform: uppercase;
    text-decoration: none; }
    .header-menu__link:hover {
      border-bottom: 2px solid #46c232; }
  .header-menu__hamburger {
    display: block; } }

.promo {
  width: 1200px;
  margin: 0 auto 64px;
  padding: 0 30px; }

.promo__form {
  float: right;
  width: 460px; }

.promo__heading {
  float: left;
  width: 580px;
  margin-top: 50px; }

.promo__title {
  margin: 0 0 20px;
  font-weight: 100;
  font-size: 46px;
  line-height: 55px;
  color: #ffffff;
  text-transform: uppercase; }

.promo__description {
  margin: 0;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff; }

@media (max-width: 1280px) {
  .promo {
    width: auto; } }

@media (max-width: 1150px) {
  .promo__heading {
    float: left;
    width: 440px;
    margin-top: 50px; }
  .promo__title {
    font-size: 35px;
    line-height: 40px; } }

@media (max-width: 1060px) {
  .promo {
    margin-bottom: 130px; } }

@media (max-width: 992px) {
  .promo {
    margin-bottom: 50px; }
  .promo__heading {
    float: none;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center; }
  .promo__form {
    float: none;
    margin: 0 auto; }
  .promo__description {
    font-size: 20px; } }

@media (max-width: 540px) {
  .promo {
    padding: 0 10px; }
  .promo__form {
    width: auto;
    padding: 0; }
  .promo__heading {
    width: auto;
    padding: 0 10px; }
  .promo__title {
    font-size: 20px;
    line-height: 24px; } }

.about-game {
  margin-bottom: 100px; }

.about-game__inner {
  width: 1200px;
  margin: 0 auto;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 7px 32px -10px; }

.about-game__content {
  float: left;
  width: 526px;
  padding-right: 10px;
  padding-left: 25px; }

.about-game__title {
  margin: 27px 0 10px 0;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: #ff003b;
  text-transform: uppercase; }

.about-game__description {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 23px; }

.about-game__video {
  float: right;
  margin-top: 80px;
  padding-right: 25px;
  vertical-align: middle; }

.about-game__azino {
  width: 545px;
  height: auto; }

.about-game__caption {
  display: inline-block;
  margin: 20px 0;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 2px solid #46c232; }

.about-game__form {
  float: right;
  width: 460px;
  margin-right: 30px; }

@media (max-width: 1280px) {
  .about-game__inner {
    width: auto;
    margin: 0 30px; } }

@media (max-width: 1230px) {
  .about-game__content {
    float: none;
    width: auto;
    margin-bottom: 50px; }
  .about-game__video {
    float: none;
    margin: 0 auto;
    padding-right: 0; }
  .about-game__azino {
    display: block;
    margin: 0 auto 50px; }
  .about-game__form {
    float: none;
    margin: 0 auto; } }

@media (max-width: 1060px) {
  .section-heading--white {
    color: rgba(11, 20, 37, 0.84); } }

@media (max-width: 680px) {
  .about-game__azino {
    width: 90%;
    height: auto; } }

@media (max-width: 540px) {
  .about-game__form {
    width: auto;
    padding: 0; }
  .about-game__inner {
    margin: 0 10px; } }

.shadow-sections {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 33px 0;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 19px -5px; }

@media (max-width: 1260px) {
  .shadow-sections {
    width: auto;
    margin: 0 30px; } }

@media (max-width: 530px) {
  .shadow-sections {
    margin: 0 10px; } }

.benefits {
  margin-bottom: 100px;
  padding: 0 30px; }

.benefits__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.benefits__content {
  width: 27%;
  margin-bottom: 50px;
  text-align: center; }

.benefits__image {
  margin-bottom: 24px; }

.benefits__title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }
  .benefits__title::after {
    content: "";
    display: block;
    width: 42%;
    height: 2px;
    margin: 20px auto;
    background-color: #46c232; }

.benefits__description {
  margin: 0; }

@media (max-width: 900px) {
  .benefits__content {
    justify-content: center;
    width: 39%; } }

@media (max-width: 540px) {
  .benefits__content {
    justify-content: center;
    width: 100%; } }

.photo__slide {
  background: #46c232 url(../img/icon-zoom.png) no-repeat center; }

.photo__image {
  opacity: 1; }
  .photo__image:hover {
    cursor: pointer;
    opacity: 0.2; }

.partner {
  margin: 0 30px; }

.partner__item {
  padding: 0 19px; }

.review {
  margin: 0 30px; }

.review__item {
  margin: 0 12px; }

.review__number {
  margin-bottom: 20px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  color: #dddddd;
  border-left: 22px solid #46c232; }

.review__content {
  margin: 0 0 50px;
  font-size: 14px;
  line-height: 25px; }

.review__author {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 5px solid #46c232; }

.review__img {
  float: left; }

.review__desc {
  float: right;
  width: 175px; }

.review__name {
  margin: 3px 0 10px; }

.review__title {
  float: left;
  margin: 5px 36px 0 0; }

.review__link {
  float: left;
  font-size: 0; }

.map {
  margin: 0 30px 90px; }

.map__inner {
  text-align: center; }

.map__img {
  margin-bottom: 50px; }

@media (max-width: 1100px) {
  .map {
    margin: 10px; }
  .map__img {
    width: 90%; } }

.delivery {
  margin-bottom: 80px;
  padding: 0 30px; }

.delivery__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.delivery__content {
  width: auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center; }

.deliver__image {
  margin-bottom: 20px; }

.delivery__city {
  margin: 0 0 20px;
  font-weight: bold; }
  .delivery__city--rf {
    margin-bottom: 40px; }

.delivery__region {
  display: block;
  font-weight: 100; }

.delivery__way {
  margin: 0; }

@media (max-width: 820px) {
  .delivery__content {
    width: 100%;
    margin: 0 auto 30px; } }

.payment {
  margin-bottom: 54px;
  padding: 0 80px; }

.payment__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.payment__image-1,
.payment__image-2,
.payment__image-3,
.payment__image-4 {
  display: block;
  margin: 0 auto; }

@media (max-width: 1140px) {
  .payment {
    padding: 0 10px; }
  .payment__image-1 {
    width: 138px;
    height: 68px;
    margin-bottom: 30px; }
  .payment__image-2 {
    width: 196px;
    height: 65px;
    margin-bottom: 30px; }
  .payment__image-3 {
    width: 121px;
    height: 63px;
    margin-bottom: 30px; }
  .payment__image-4 {
    width: 202px;
    height: 66px; } }

.support__content {
  margin: 0;
  padding: 0 30px;
  font-size: 15px;
  text-align: center; }

.order {
  position: relative;
  z-index: 1;
  margin-top: -55px;
  padding-top: 140px;
  background: url(../img/bg-order.jpg) no-repeat center;
  background-size: cover; }

.order__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px; }

.order__variant {
  position: relative;
  width: 365px;
  background-color: #f8f8f8;
  border-radius: 5px; }
  .order__variant::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    width: 14px;
    height: 48px;
    background-color: #46c232; }
  .order__variant::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 56px;
    height: 70px;
    background-color: #46c232;
    transform: skewY(-30deg); }

.order__variant--green {
  color: #ffffff;
  background-color: #46c232; }
  .order__variant--green::before {
    top: 41px;
    background-color: #ffffff; }
  .order__variant--green::after {
    top: 53px;
    background-color: #ffffff; }

.order__title {
  margin: 30px 0 50px 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase; }
  .order__title--three {
    margin: 10px 0 12px 40px; }

.order__price {
  margin: 0 0 30px 20px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.order__value {
  font-weight: bold;
  font-size: 26px;
  color: #ff003b; }
  .order__value--lowercase {
    padding-left: 5px;
    text-transform: lowercase; }
  .order__value--white {
    color: #ffffff; }

.order__link {
  display: block;
  margin: 0 0 20px 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #5303af;
  text-transform: none; }
  .order__link:hover {
    color: #7500f9; }

.order__form {
  position: relative;
  top: 105px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  border-top: 3px solid #46c232; }

@media (max-width: 1260px) {
  .order__list {
    width: auto; }
  .order__form {
    width: 460px; } }

@media (max-width: 1210px) {
  .order__list {
    display: block; }
  .order__variant {
    margin: 0 auto 30px;
    padding: 10px 0; } }

@media (max-width: 540px) {
  .order__form {
    width: auto;
    margin: 0 10px; } }

@media (max-width: 428px) {
  .order__variant {
    width: 100%;
    text-align: center; }
    .order__variant::before {
      display: none; }
    .order__variant::after {
      display: none; }
  .order__title,
  .order__price {
    margin: 20px 0; } }

.contacts {
  width: 1200px;
  margin: 140px auto 50px;
  padding: 0 30px; }

.contacts__content {
  float: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px; }

.contacts__title {
  margin: 30px 0 50px;
  font-size: 26px;
  line-height: 26px;
  color: #19033c;
  text-transform: uppercase; }

.contact__inner {
  margin-left: 40px; }

.contacts__address {
  position: relative;
  margin-bottom: 30px; }
  .contacts__address::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -40px;
    display: inline-block;
    width: 21px;
    height: 28px;
    background: url(../img/icon-map.png) no-repeat center; }

.contacts__phone {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: none; }
  .contacts__phone:nth-child(4) {
    margin-bottom: 30px; }

.contacts__mail {
  display: block;
  margin-bottom: 50px;
  color: #000000;
  text-decoration: none; }

.contacts__vk {
  position: relative;
  display: block;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none; }
  .contacts__vk::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icon-vk.png) no-repeat center; }

.contacts__viber {
  position: relative;
  display: block;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none; }
  .contacts__viber::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -43px;
    display: inline-block;
    width: 29px;
    height: 31px;
    background: url(../img/icon-viber-big.png) no-repeat center; }

.contacts__form {
  float: right;
  width: 460px; }

@media (max-width: 1260px) {
  .contacts {
    width: auto; } }

@media (max-width: 992px) {
  .contacts__content {
    float: none;
    width: 380px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .contacts__title {
    text-align: center; }
  .contact__inner {
    margin-left: 0; }
  .contacts__form {
    float: none;
    margin: 0 auto; }
  .contacts__mail {
    margin-bottom: 30px; } }

@media (max-width: 540px) {
  .contacts {
    padding: 0 10px; }
  .contacts__address,
  .contacts__phone,
  .contacts__mail,
  .contacts__vk,
  .contacts__viber {
    margin-left: 40px; }
    .contacts__address::before,
    .contacts__phone::before,
    .contacts__mail::before,
    .contacts__vk::before,
    .contacts__viber::before {
      left: -40px; }
  .contacts__content {
    width: 90%; }
  .contacts__form {
    width: auto;
    padding: 0; } }

.footer {
  background: url(../img/bg-order.jpg) no-repeat top center; }

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 30px; }

.footer__column {
  display: block;
  width: 360px; }

.footer__developer {
  position: relative;
  display: block;
  margin-left: 40px;
  color: #ffffff;
  text-decoration: none; }
  .footer__developer::before {
    content: "X";
    position: absolute;
    top: -8px;
    left: -40px;
    display: inline-block;
    font-weight: normal;
    font-size: 43px;
    color: #ff003b; }

.footer__container {
  position: relative;
  text-align: center;
  color: #ffffff; }

.footer__social {
  margin-bottom: 10px; }

.footer__license {
  margin: 0;
  margin-bottom: 10px; }

.footer__copyright {
  margin: 0;
  margin-bottom: 10px; }

.footer__politics {
  margin: 0;
  text-transform: uppercase; }

@media (max-width: 1280px) {
  .footer__inner {
    width: auto; } }

@media (max-width: 1200px) {
  .footer__inner {
    display: block; }
  .footer__column {
    margin: 0 auto 20px; } }

@media (max-width: 540px) {
  .footer__inner {
    padding: 20px 10px; }
  .footer__column {
    display: block;
    width: auto; } }

.modal__form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: none;
  width: 460px;
  margin: 0 auto;
  margin-top: -240px;
  margin-left: -230px;
  animation: down;
  animation-duration: 1s; }
  .modal__form--show {
    display: block; }

@keyframes down {
  0% {
    transform: translateY(-1000px); }
  60% {
    transform: translateY(10px); }
  80% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

.modal__close-form {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  color: #f2f2f2;
  background-color: transparent;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  opacity: 0.8; }
  .modal__close-form:hover {
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    opacity: 1; }

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 20, 37, 0.84); }
  .modal__overlay--show {
    display: block; }
