@charset "UTF-8";
/* sass */
@import url(normalize.css);
.clearfix::before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  background: url("../img/bg-header.jpg") no-repeat top center;
}

/* Внешняя обертка */
.container {
  width: 1134px;
  margin: 0 auto;
  padding: 0 33px;
}

.promo {
  margin-top: 130px;
  margin-bottom: 64px;
}

.header-info {
  padding-top: 20px;
}

.header-info__logo {
  position: relative;
  float: left;
  width: 300px;
}

.header-info__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  height: 46px;
  background: url(../img/icon-logo.png) no-repeat center;
}

.header-info__name {
  margin: 0;
  padding-left: 80px;
}

.header-info__link {
  font-size: 36px;
  line-height: 38px;
  color: #00ff3e;
  text-transform: uppercase;
  text-decoration: none;
}

.header-info__slogan {
  margin: 0;
  padding-left: 80px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.header-info__contacts {
  position: relative;
  float: right;
  width: 740px;
}

.header-info__phone {
  position: relative;
  margin-right: 30px;
  margin-left: 70px;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.header-info__phone::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 18px;
  height: 19px;
  background: url(../img/icon-viber.png) no-repeat center;
}

.header-info__phone:nth-child(2) {
  margin-right: 0;
  margin-left: 30px;
}

.header-info__mail {
  margin-left: 377px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.header-menu__list {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  list-style: none;
  text-align: justify;
}

.header-menu__list::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.header-menu__item {
  display: inline-block;
}

.header-menu__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.header-menu__link:hover {
  border-bottom: 2px solid #46c232;
}

.about-game {
  margin-bottom: 100px;
}

.about-game__inner {
  background: #f8f8f9;
  border-radius: 10px;
  box-shadow: 0 7px 32px -10px;
}

.about-game__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.about-game__heading::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 20px;
  background-color: #46c232;
}

.about-game__content {
  float: left;
  width: 526px;
  padding-right: 10px;
  padding-left: 25px;
}

.about-game__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: #ff003b;
  text-transform: uppercase;
}

.about-game__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 23px;
}

.about-game__video {
  float: right;
  width: 545px;
  margin-top: 20px;
  padding-right: 25px;
}

.promo {
  margin-top: 130px;
  margin-bottom: 64px;
}

.promo-heading {
  float: left;
  width: 586px;
  margin-top: 50px;
}

.promo-heading__title {
  margin: 0;
  font-weight: 100;
  font-size: 46px;
  line-height: 55px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-heading__desc {
  margin: 0;
  margin-top: 20px;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}

.form {
  position: relative;
  box-sizing: border-box;
  padding: 38px 48px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.form--right {
  float: right;
  width: 38%;
}

.form::before {
  content: "";
  position: absolute;
  top: 118px;
  left: 0;
  width: 8px;
  height: 78px;
  background-color: #46c232;
  transform: skewY(30deg);
}

.form::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 0;
  width: 56px;
  height: 70px;
  background-color: #46c232;
  transform: skewY(-30deg);
}

.form__title {
  margin: 0;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  color: #ff003b;
  text-transform: uppercase;
}

.form__consult {
  display: block;
  margin: 0;
  margin-bottom: 36px;
  font-weight: 100;
  font-size: 16px;
  line-height: 18px;
  color: #19033c;
  text-transform: lowercase;
}

.form__consent {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.form__consent::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 16px;
  display: inline-block;
  width: 8px;
  height: 11px;
  margin: 0;
  background: url(../img/icon-lock.png) no-repeat center;
}

input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 38px;
  color: 13px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
}

input[type="text"] {
  background: #f2f2f2 url(../img/icon-name.png) no-repeat;
  background-position: 10px center;
}

input[type="email"] {
  margin-bottom: 30px;
  background: #f2f2f2 url(../img/icon-mail.png) no-repeat;
  background-position: 10px center;
}

.btn {
  padding: 14px 44px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #46c232;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid #379928;
}

.btn--header {
  position: absolute;
  top: 0;
  right: 0;
}

.btn--form {
  display: block;
  margin: 0 auto;
  color: #000000;
}
